body {
background-color: navy;
color: black;
font-family: "Trebuchet MS", sans-serif;
margin: 0;
}

.navbar {
background-color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
}

.nav-logo {
margin: 10px;
}

.nav-menu {
display: flex;
gap: 20px;
margin: 10px;
list-style: none;
padding: 0;
}

.nav-menu li a {
text-decoration: none; color: black;
font-weight: bolder;
}

.nav-menu li a:hover {
color: rgb(110, 110, 255);
}

/*Ocultar icono burger*/
.burger {
display: none;
font-size: 30px;
cursor: pointer;
}

/*Icono burger pantallas pequeñas*/
@media (max-width: 768px) {
.burger {
    display: block;
}

.nav-menu {
    display: none; /* oculto por defecto */
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-menu.active {
    display: flex;
}
}